@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: rgba(0, 255, 0, 0.8);
    --third-bg-color: #fff;
}

html {
    font-size: 62.5%;;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,2);
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: pointer;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* -----HOME CSS----- */

.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cube {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 4s linear infinite;

}
@keyframes animate {
   0% {
       transform: rotateX(-30deg) rotateY(360deg);

   }
   100%{
       transform: rotateX(-30deg) rotateY(0);
   }
}

.cube div {
    position:absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.top {
   position:absolute;
   top: 0;
   left: 0;
   width: 300px;
   height: 300px;
   background: #222;
   transform: rotateX(90deg) translateZ(150px);
}
.top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;    
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
                0 0 200px rgba(0, 255, 0, 0.4),
                0 0 300px rgba(0, 255, 0, 0.6),
                0 0 400px rgba(0, 255, 0, 0.8),
                0 0 500px rgba(0, 255, 0, 1)
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    margin-top: 2rem;
}

.btn:hover {
    box-shadow: none;
}

/* -----ABOUT CSS----- */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    border-radius: 5rem;
    height: 80rem;
    width: 30vw;
    animation: floatImages 3s ease-in-out infinite;
}

@keyframes floatImages {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-2.4rem);
    }

    100% {
        transform: translateX(0);
    }

}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

/* -----MODAL CONTAINER----- */
.about-modal-content {
    display: none;
}

.about-modal-content h2 {
    font-size: 2.6rem;
    margin-top: 2rem;
}


/* -----Services CSS----- */
.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    background: linear-gradient(rgba(0,0,0,1.5), var(--main-color));
    transition: 0.5s ease;
    transform: translateY(30%);
    height: 35rem;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.08);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.3rem;
}

.services-box p {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}

/* -----Project CSS----- */
.project {
    background: var(--second-bg-color);
}

.project h2 {
    margin-bottom: 4rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    grid-template-rows: 300px;

}

.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.project-box img {
    width: 100%;
    height: 250px;
    transition: .5s ease;
}

.project-box:hover img {
    transform: scale(1.1);
}

.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.7), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
} 

.project-box:hover .project-layer {
    transform: translateY(0)
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}

.project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color)
    ;
}

/* ----- MODAL PROJECT 4 -----  */
.project4-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
}

.project4-modal-content {
    background: var(--second-bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

.project4-content {
    display: flex;
    justify-content:center;
    margin-top: 5rem;
}

.project4-text {
    margin-left: 2rem;
}

.project4-text h2 {    
    color: var(--main-color);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.project4-text p {    
    font-size: 1.6rem;
    line-height: 1.5;
}

.project4-img img {
    width: 28rem;
    height: 38rem;
    margin-left: 2rem;
}

.project4-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.project4-close:hover,
.project4-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ----- MODAL PROJECT 5 -----  */
.project5-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
}

.project5-modal-content {
    background: var(--second-bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.project5-content {
    display: flex;
    justify-content:center;
    margin-top: 5rem;
}

.project5-text {
    margin-left: 2rem;
}

.project5-text h2 {    
    color: var(--main-color);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.project5-text p {    
    font-size: 1.6rem;
    line-height: 1.5;
}

.project5-img img {
    width: 50rem;
    height: 38rem;
    margin-left: 2rem;
}

.project5-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.project5-close:hover,
.project5-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ----- MODAL PROJECT 6 -----  */
.project6-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
}

.project6-modal-content {
    background: var(--second-bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    height: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.project6-content {
    display: flex;
    justify-content:center;
    margin-top: 5rem;
}

.project6-text {
    margin-left: 2rem;
}

.project6-text h2 {    
    color: var(--main-color);
    font-size: 4rem;
    margin-bottom: 2rem;
}

.project6-text p {    
    font-size: 1.6rem;
    line-height: 1.5;
}

.project6-img img {
    width: 50rem;
    height: 38rem;
    margin-left: 2rem;
}

.project6-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s;
}

.project6-close:hover,
.project6-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style for modal content */
.modal-body {
    font-size: 16px;
}

/* -----Skills CSS----- */
.skills h2 {
    margin-bottom: 5rem;
}

.skills {
    background: var(--bg-color);
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
    height: 100%;
    width: 100%;
}

.skills-container .skills-box {
    flex: 1 1 5rem;
    background: var(--second-bg-color);
    padding: 5rem 1rem 3rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.3s ease;
    height: 25rem;
    height: 100%;
    width: 100%;
}

.skills-container .skills-box:hover {
    transform: scale(1.08);
    box-shadow: 0 0 1rem var(--main-color);
}

.skills-box img {
    height: 5rem;
    width: 5rem;
}

.skills-box h3 {
    font-size: 2.6rem;
    margin-top: 2rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skill-python, .skill-css {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 60%;
    font-weight: 700;
    border-radius: 2rem;
}

.skill-html {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 80%;
    font-weight: 700;
    border-radius: 2rem;
}

 .skill-javascript {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 65%;
    font-weight: 700;
    border-radius: 2rem;
} 

.skill-react, .skill-angular {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 50%;
    font-weight: 700;
    border-radius: 2rem;
} 

.skill-csharp {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 30%;
    font-weight: 700;
    border-radius: 2rem;
} 

.skill-sql {
    margin-top: 2rem;
    background-color: var(--bg-color);
    color: var(--main-color);
    padding: 1%;
    text-align: right;
    font-size: 20px;
    width: 40%;
    font-weight: 700;
    border-radius: 2rem;
} 

/* -----Contact CSS----- */
.contact {
    background: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .project4-content {
        flex-direction: column;
    }

    .project4-modal-content {
        height: 100vh;
    }

    .project5-content {
        flex-direction: column;
    }

    .project5-modal-content {
        height: 100vh;
    }

    .project5-img img {
        width: 37rem;
        height: 28rem;
    }

    .project6-content {
        flex-direction: column;
    }

    .project6-modal-content {
        height: 100vh;
    }

    .project6-img img {
        width: 37rem;
        height: 28rem;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,2);
        display: none;
    }

    .navbar.active {
        display: block;

    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    .home {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .project4-content {
        flex-direction: column;
    }

    .project4-modal-content {
        height: 100vh;
    }

    .project5-content {
        flex-direction: column;
    }

    .project5-modal-content {
        height: 100vh;
    }

    .project5-img img {
        width: 35rem;
        height: 28rem;
    }

    .project6-content {
        flex-direction: column;
    }

    .project6-modal-content {
        height: 100vh;
    }

    .project6-img img {
        width: 35rem;
        height: 28rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .project-layer h4 {
        font-size: 2rem;
    }
    
    .project-layer p {
        font-size: 1.2rem;
    }

    .cube {
        width: 300px;
        margin-top: 15rem;
    }

    .about-img img {
        margin-top: 15rem;
        height: 50rem;
    }

}

/* --- SKILLS IMAGE SWIPER ---  */

